body{
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
h1{
    font-size: 6.5rem;
    font-family: 'Sacramento', cursive;
    color: rgb(152, 150, 241);
    margin: 0 auto -20px;
    padding: 70px 0 0 0;
}
h2{
    font-size:2.25rem;
    font-family:'Roboto', sans-serif;
    font-weight: normal;
    color: rgb(152, 150, 241);
    padding-bottom:10px;
}
h3{
    font-size:2.25rem;
    font-family:'Roboto', sans-serif;
    color: rgb(213, 155, 246);
}
p{
    font-size: 20px;
}
hr{
    border: 8px dotted rgb(197, 197, 197);
    border-bottom: none;
    width: 8%;
    margin:125px auto 125px;

}
a{
    margin: 0 10px 0;
    font-size: 1.25rem;
    font-family:'Roboto', sans-serif;
    text-decoration: none;

}
a:hover{
    color: rgb(35, 199, 185);
}
.cloud{
    height: 75px;
}
.top-cloud{
    padding: 70px 0 0 0;
    position: relative;
    left:350px;
}
.bottom-cloud{
    position: absolute;
}
.mountain{
    height: 550px;
}
.top-container{
    background-color: rgb(217, 255, 249);
    margin-left: 0px;
}
.skill-row{
    width: 50%;
    margin:100px auto 100px;
    text-align: left;
    line-height:1.5;
}

.prog-lang-image{
    width:80%;
}


.bottom-container{
    background-color: rgb(217, 255, 249)    ;
    margin-top:50px;
    padding: 30px 0 10px;
}
.btn {
    background: rgb(213, 155, 246);
    background-image: -webkit-linear-gradient(top, rgb(213, 155, 246), rgb(152, 150, 241));
    background-image: -moz-linear-gradient(top, rgb(213, 155, 246), rgb(152, 150, 241));
    background-image: -ms-linear-gradient(top, rgb(213, 155, 246), rgb(152, 150, 241));
    background-image: -o-linear-gradient(top, rgb(213, 155, 246), rgb(152, 150, 241));
    background-image: linear-gradient(to bottom, rgb(213, 155, 246), rgb(152, 150, 241));
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    font-family:'Roboto', sans-serif;
    color: #ffffff;
    font-size: 25px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: rgb(237, 177, 241);
    background-image: -webkit-linear-gradient(top, rgb(237, 177, 241), rgb(152, 150, 241));
    background-image: -moz-linear-gradient(top, rgb(237, 177, 241), rgb(152, 150, 241));
    background-image: -ms-linear-gradient(top, rgb(237, 177, 241), rgb(152, 150, 241));
    background-image: -o-linear-gradient(top, rgb(237, 177, 241), rgb(152, 150, 241));
    background-image: linear-gradient(to bottom, rgb(237, 177, 241), rgb(152, 150, 241));
    text-decoration: none;
}
.footer-copyright{
    font-size:0.75rem;
    padding-top:25px ;
}